<div class="my-4">
  <h2 class="text-xl mb-2">Theo dõi đơn hàng #209845433 - <span class="font-semibold">Đang xử lý</span></h2>
  <span><p class="text-red-500 cursor-pointer underline">Hủy đơn hàng</p></span>
  <div class="flex space-x-2 mt-4">
    <div class="flex-auto rounded-md shadow-md py-4 px-8">
      <h2 class="text-lg font-medium text-green-500">Đang xử lý</h2>
      <p class="text-sm text-gray-400">Được giao bởi TikiNOW Smart Logistics (giao từ Hồ Chí Minh)</p>
      <nz-divider class="mt-4 mb-6"></nz-divider>
      <nz-timeline>
        <nz-timeline-item nzColor="green">
          <h4 class="font-medium">Đang xử lý</h4>
          <p>Đang đóng gói</p>
          <p>14:20, Thứ bảy 15-05-2021</p>
        </nz-timeline-item>
        <nz-timeline-item nzColor="gray">
          <h4 class="font-medium">Chờ xác nhận</h4>
          <p>CellphoneS tiếp nhận đơn hàng</p>
          <p>13:20, Thứ bảy 15-05-2021</p>
        </nz-timeline-item>
      </nz-timeline>
    </div>
    <div class="rounded-md mb-auto shadow-md py-4 px-8">
      <h2 class="text-lg font-medium">Đơn hàng gồm</h2>
      <div class="flex flex-col">
        <div class="flex items-center py-3">
          <img src="assets/logo/small-logo.png" class="w-20 h-20 object-contain">
          <div class="ml-2">
            <p>Iphone 12 promax 64gb White</p>
            <p class="text-gray-400">x1</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <button class="mt-4 p-2 w-64 bg-red-600 text-white rounded-md" routerLink="../">Chi tiết đơn hàng</button>
</div>